/* General body styles */
body {
    font-family: 'Arial', sans-serif;
    position: relative; /* Ensure the overlay works properly */
    color: #333;
    margin: 0;
    padding: 0;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/static/images/photos_2023_7_4_fst_white-wrinkled-paper-sheet.jpg') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.2; /* Adjust opacity here */
    z-index: -1; /* Ensure the overlay stays behind the content */
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Navigation */
nav {
    background-color: #444;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #777;
}

/* Cards for products */
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.content h2 {
    font-size: 6rem; /* Even larger font size */
    color: #262626;
    margin-bottom: 15px;
    font-weight: bold; /* Make the title bold */
}

.content p {
    font-size: 16px; 
    color: #262626;
}

.content form {
    background: rgba(38, 38, 38, 0.25); /* Dark grey with 25% opacity */
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content ul {
    background: rgba(38, 38, 38, 0.25); /* Dark grey with 25% opacity */
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

/* Buttons */
button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

/* Forms and inputs */
input[type="text"], input[type="number"], input[type="email"], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus, select:focus {
    border-color: #4CAF50;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
